---
  - include_tasks: create_cluster.yml
    when: provision is true

  - include_tasks: add-node.yml
    when: addnode is true

  - include_tasks: delete-node.yml
    when: deletenode is true
  
  - include_tasks: delete_cluster.yml
    when: decommission is true

